*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before, *:after {
    box-sizing: border-box;
}

:root{
    --main-color: #263b44;
    --main-white: #ffffff;
    --light-text: #ABB0BE;
    --text-green:#009673;
    --text-orange:#ff5722;
} 

nav{
    padding: 20px 0 40px 0;
    background: var(--main-color);
    font-size:16px;
}

.container{
    margin: auto;
    width: 80%; 
}

nav .navbar-left{
    float: left;
}

nav .navbar-right{
    float: right;
}

nav ul li {
    display: inline;
    padding-left: 20px; 
}

nav ul li a{
    color: var(--light-text); 
    text-decoration: none; 
}

nav ul li a:hover{
    color: var(--main-white);
}

.badge{
    background: var(--text-orange);
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
    margin:-5px 0px 0px 5px;
}

/* shopping cart */
.shopping-cart{
    margin: 20px 0;
    background: var(--main-color);
    display: none;
    position: absolute;
    padding: 20px;
    border-radius: 5px; 
    right:100px!important;
    width: 302px;
    z-index:20;
}

.shopping-cart-header{
    color: var(--light-text);
    border-bottom: 1px solid var(--light-text);
    padding-bottom: 15px; 
}

.shopping-cart-total{
    float:right;
}

.dollar{
    color:var(--main-white);
    font-size: 13px;  
}

.shopping-cart-items{
    padding-top: 20px;
}

.shopping-cart-items li{
    margin-bottom:18px; 
    display: block;
}

.shopping-cart-items img{
    float: left;
    margin-right: 12px;
    border-radius: 5px;
    width: 50px;
    height: auto;
}

.shopping-cart-items .item-name{
    display: block;
    padding-top:10px;
    font-size: 16px;
    color: var(--light-text); 
}

.shopping-cart-items .item-price{
    margin-right:8px;
    font-size:13px;
    color: var(--main-white);
}

.shopping-cart-items .item-quantity{
    color:var(--main-white);
}

.shopping-cart:after{
    bottom: 100%;
    left:89%;
    border: solid transparent;
    content:" ";
    height: 0;
    width:0;
    position: absolute;
    pointer-events: none; 
    border-bottom-color:var(--main-color); 
    border-width:8px;
    margin-left: -8px;
} 

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 

.btn{
    color: var(--main-white);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    margin:15px 0;
}

.btn-checkout{
    background: var(--text-green);
}

.btn-cart{
    background: var(--text-orange);
}

/* product */ 
.card{ 
    margin:50px 10px; 
    width: 500px;
    height: 350px;
    border-radius: 7px 7px 7px 7px;
    float: left; 
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img{
    float: left;
    height: 350px;
    width: 250px;
}

.product-img img{
    border-radius:7px 0 0 7px;
} 

.product-info{
    float: left;
    height: 350px;
    width: 250px;
    border-radius: 0 7px 10px 0px;
    background: var(--main-color);
}

.product-text {
    height: 260px;
    width: 250px;
}

.product-text h1{
    margin:0 0 0 35px;
    padding-top:30px;
    font-size: 32px;
    color: var(--light-text);
}

.product-text h2{
    margin:0 0 20px 35px;
    font-size:18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:var(--text-green);
}

.product-text p{
    height:150px;
    margin:0 15px 0 35px;
    color: var(--light-text);
    overflow: hidden;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.6em;
}

.product-price-btn{
    height: 103px;
    width: 250px;
    margin: 15px 0;
    position: relative;
} 

.product-price-btn p{
    display: inline-block; 
    margin: 0 0 0 35px;
    font-size:28px;
    color:var(--text-orange);
}

.product-price-btn span{
    font-size: 37px;
}

.product-price-btn button{
    float: right;
    margin: 0 25px 0 15px; 
    height: 50px;
    width: 115px;
    cursor: pointer;
    box-sizing: border-box;
    border:transparent;
    border-radius: 60px;
    font-size: 18px;
    color:var(--main-white);
    letter-spacing: 0.2em;
    background-color: var(--text-green);
    outline: none;
    text-transform: uppercase;
}

.product-price-btn button:hover {
    background-color: #009673c4;
}

.mt-2{
    margin-top:50px;
}

.cart-table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    display: table;
    border:1px solid #ccc; 
}

.cart-table tr{
    border-bottom:1px solid #ddd;
}

.cart-table tr:nth-child(odd){
    background: #fff;
}

.cart-table tr:nth-child(even){
    background: #f1f1f1;
}

.cart-table td, .cart-table th{
    padding:8px 8px;
    display: table-cell;
    text-align: center;
    vertical-align: top;
} 

.cart-table th{
    background: var(--main-color);
    color: #fff;
    border: 1px solid #263b44;
}

.cart-table th:first-child, .cart-table td:first-child{
    padding-left: 16px;
}

.responsive-table{
    display: block;
    overflow-x:auto;
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
}

/* input qty */

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
} 

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-btn {
    display: table-cell;
}

.input-group-btn:first-child>.btns  {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
} 

.input-group-btn:last-child>.btns  {
    z-index: 2;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-btn>.btns {
    position: relative;
}

.btn-default {
    color: #333;
    background-color: #fff; 
}

.btns {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid  #ccc;
    border-radius: 4px;
    outline:none;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px; 
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 0;
} 

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
} 

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}

.text-center{
    text-align: center;
} 

.th-qty{
    width: 140px; 
}

/* row flex */

.row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin:0 -15px;
}

.col-25{
    -ms-flex:25%;
    flex:25%;
}

.col-50{
    -ms-flex:50%;
    flex:50%;
}

.col-75{
    -ms-flex:75%;
    flex:75%;
}

.col-25, .col-50, .col-75{
    padding :0 15px;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
} 

.container-color{
    background:#f2f2f2;
    padding:5px 20px 15px 20px;
    border:1px solid lightgrey; 
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow:0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

label{
    margin-top:10px;
    margin-bottom:10px;
    display:block;
}

.icon-container {
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 20px;
}

button{
    border:0;
    cursor:pointer;
}

.link-shop{
   color:#ff5722;
   text-decoration: none;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 992px){
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    } 
}

@media (min-width: 768px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
} 


@media only screen and (min-width: 425px) { 
    .shopping-cart { 
        right:30px!important;
    }
}

@media only screen and (min-width: 375px) { 
    .shopping-cart { 
        right:25px!important;
    }
}

@media only screen and (min-width: 320px) { 
    .shopping-cart { 
        right:20px!important;
    }
}

@media only screen and (min-width: 600px) { 
    .shopping-cart {
        width:260px; 
    }
}

@media only screen and (min-width: 700px) { 
    .shopping-cart { 
        right:45px!important;
    }
}

@media only screen and (min-width: 1024px) { 
    .shopping-cart { 
        right:100px!important;
    }
}


@media only screen and (min-width: 2560px) { 
    .shopping-cart { 
        right:230px!important;
    }
}

@media only screen and (max-width: 700px) { 
     .col-50{
        flex: 100%;
        ms-flex:100%;
    }

    .card{
        width:100%;
    }

    .product-img{
        width:50%;
    }

    .product-img img{
        width: 100%;
    }

    .product-info{
        width: 50%;
    }

    .product-text{
        width:100%;
    }

    .product-text h1{
        font-size:25px;
        margin:0 5px 0 15px;
    }

    .product-text h2{
        font-size: 18px;
        margin:0 0 5px 15px;
    }

    .product-text p{ 
        margin: 10px 15px 0 15px;
        font-size:16px;
        height:190px;
    }

    .product-price-btn{
        width:100%; 
        margin:25px 0;
    }

    .product-price-btn p{
        margin:0 0 0 15px; 
        font-size:25px;
    }
    
    .product-price-btn span{
        font-size:25px; 
    }

    .product-price-btn button{
        font-size:15px;
        height: 40px;
        width: 100px;
        margin:0 40px 0 0;
    }
}

@media only screen and (max-width: 425px) { 
    .card{
        width:100%;
    }

    .product-img{
        width:50%;
    }

    .product-img img{
        width: 100%;
    }

    .product-info{
        width: 50%;
    }

    .product-text{
        width:100%;
    }

    .product-text h1{
        font-size:20px;
        margin:0 5px 0 15px;
    }

    .product-text h2{
        font-size: 14px;
        margin:0 0 5px 15px;
    }

    .product-text p{ 
        margin: 10px 15px 0 15px;
        font-size:13.5px;
        height:190px;
    }

    .product-price-btn{
        width:100%; 
        margin:25px 0;
    }

    .product-price-btn p{
        margin:0 0 0 15px; 
        font-size:20px;
    }
    
    .product-price-btn span{
        font-size:20px; 
    }

    .product-price-btn button{
        font-size:13px;
        height: 32px;
        width: 80px;
        margin:0 15px 0 0;
    }
}

@media only screen and (max-width: 375px) { 
    .card{
        width:100%;
    }

    .product-img{
        width:50%;
    }

    .product-img img{
        width: 100%;
    }

    .product-info{
        width: 50%;
    }

    .product-text{
        width:100%;
    }

    .product-text h1{
        font-size:18px;
        margin:0 5px 0 15px;
    }

    .product-text h2{
        font-size: 12px;
        margin:0 0 5px 15px;
    }

    .product-text p{ 
        margin: 10px 15px 0 15px;
        font-size:12.5px;
        height:190px;
    }

    .product-price-btn{
        width:100%; 
        margin:25px 0;
    }

    .product-price-btn p{
        margin:0 0 0 15px; 
        font-size:18px;
    }
    
    .product-price-btn span{
        font-size:18px; 
    }

    .product-price-btn button{
        font-size:12px;
        height: 30px;
        width: 70px;
        margin:0 5px 0 0;
    }
}

@media only screen and (max-width: 320px) { 
    .card{
        width:100%;
    }

    .product-img{
        width:50%;
    }

    .product-img img{
        width: 100%;
    }

    .product-info{
        width: 50%;
    }

    .product-text{
        width:100%;
    }

    .product-text h1{
        font-size:18px;
        margin:0 5px 0 15px;
    }

    .product-text h2{
        font-size: 12px;
        margin:0 0 5px 15px;
    }

    .product-text p{ 
        margin: 0 15px 0 15px;
        font-size:12px;
        height:190px;
    }

    .product-price-btn{
        width:100%; 
        margin:45px 0;
    }

    .product-price-btn p{
        margin:0 0 0 15px; 
        font-size:18px;
    }
    
    .product-price-btn span{
        font-size:18px; 
    }

    .product-price-btn button{
        font-size:12px;
        height: 30px;
        width: 70px;
        margin:0 5px 0 0;
    }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.rounded {
    border-radius: 7px !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.section-title {
    position: relative;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 28px;
}

.text-muted {
    color: #8492a6 !important;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.6em;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

@media (min-width: 992px){
    .text-lg-left {
        text-align: left!important;
    }
}

.btnx {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500;
    border-radius: 7px;
}

.btn-customx {
    background-color: #009673d4 !important;
    border: 1px solid #009673d4 !important;
    /* background-color: #d7b065 !important;
    border: 1px solid #d7b065 !important; */
    color: #ffffff !important;
    -webkit-box-shadow: 0 3px 7px #14614f;
    box-shadow: 0 3px 7px #14614f;
    /* -webkit-box-shadow: 0 3px 7px rgba(215, 176, 101, 0.5);
    box-shadow: 0 3px 7px rgba(215, 176, 101, 0.5); */
}

h4{ 
    color: #35404e;
}

.btn-customx:hover, .btn-customx:focus, .btn-customx:active, .btn-customx.active, .btn-customx.focus {
    background-color: var(--text-green) !important;
    border-color: var(--text-green)!important;
    /* background-color: #cc9b3d !important;
    border-color: #cc9b3d !important; */
    color: #ffffff !important;
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

@media (min-width: 992px){
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px){
    .mt-sm-0, .my-sm-0 {
        margin-top: 0!important;
    }
}

.title-checkout{
    color:var(--text-green);
    margin:10px 0 20px 0;
}

.form-control-checkout {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}

.check-ship{
    margin:20px 0;
}

.checkout-page{
    margin-bottom:50px;
}