*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before, *:after {
    box-sizing: border-box;
}

:root{
    --main-color: #263b44;
    --main-white: #ffffff;
    --light-text: #ABB0BE;
    --text-green:#009673;
    --text-orange:#ff5722;
} 

nav{
    padding: 20px 0 40px 0;
    background: var(--main-color);
    font-size:16px;
}

.container{
    margin: auto;
    width: 80%; 
}

nav .navbar-left{
    float: left;
}

nav .navbar-right{
    float: right;
}

nav ul li {
    display: inline;
    padding-left: 20px; 
}

nav ul li a{
    color: var(--light-text); 
    text-decoration: none; 
}

nav ul li a:hover{
    color: var(--main-white);
}

.badge{
    background: var(--text-orange);
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    position: absolute;
    margin:-5px 0px 0px 5px;
}

/* shopping cart */
.shopping-cart{
    margin: 20px 0;
    background: var(--main-color);
    display: none;
    position: absolute;
    padding: 20px;
    border-radius: 5px; 
    right:100px;
    width: 302px;
    z-index:20;
}

.shopping-cart-header{
    color: var(--light-text);
    border-bottom: 1px solid var(--light-text);
    padding-bottom: 15px; 
}

.shopping-cart-total{
    float:right;
}

.dollar{
    color:var(--main-white);
    font-size: 13px;  
}

.shopping-cart-items{
    padding-top: 20px;
}

.shopping-cart-items li{
    margin-bottom:18px; 
    display: block;
}

.shopping-cart-items img{
    float: left;
    margin-right: 12px;
    border-radius: 5px;
}

.shopping-cart-items .item-name{
    display: block;
    padding-top:10px;
    font-size: 16px;
    color: var(--light-text); 
}

.shopping-cart-items .item-price{
    margin-right:8px;
    font-size:13px;
    color: var(--main-white);
}

.shopping-cart-items .item-quantity{
    color:var(--main-white);
}

.shopping-cart:after{
    bottom: 100%;
    left:89%;
    border: solid transparent;
    content:" ";
    height: 0;
    width:0;
    position: absolute;
    pointer-events: none; 
    border-bottom-color:var(--main-color); 
    border-width:8px;
    margin-left: -8px;
} 

.clearfix:after {
    content: "";
    display: table;
    clear: both;
} 

.btn{
    color: var(--main-white);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    font-size: 16px;
    margin:15px 0;
}

.btn-checkout{
    background: var(--text-green);
}

.btn-cart{
    background: var(--text-orange);
}

/* product */ 
.card{ 
    margin:50px 10px; 
    width: 500px;
    height: 350px;
    border-radius: 7px 7px 7px 7px;
    float: left; 
    -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img{
    float: left;
    height: 350px;
    width: 250px;
}

.product-img img{
    border-radius:7px 0 0 7px;
} 

.product-info{
    float: left;
    height: 350px;
    width: 250px;
    border-radius: 0 7px 10px 0px;
    background: var(--main-color);
}

.product-text {
    height: 260px;
    width: 250px;
}

.product-text h1{
    margin:0 0 0 35px;
    padding-top:30px;
    font-size: 32px;
    color: var(--light-text);
}

.product-text h2{
    margin:0 0 20px 35px;
    font-size:18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:var(--text-green);
}

.product-text p{
    height:150px;
    margin:0 15px 0 35px;
    color: var(--light-text);
    overflow: hidden;
    font-weight: lighter;
    font-size: 15px;
    line-height: 1.6em;
}

.product-price-btn{
    height: 103px;
    width: 250px;
    margin: 15px 0;
    position: relative;
} 

.product-price-btn p{
    display: inline-block; 
    margin: 0 0 0 35px;
    font-size:28px;
    color:var(--text-orange);
}

.product-price-btn span{
    font-size: 37px;
}

.product-price-btn button{
    float: right;
    margin: 0 25px 0 15px; 
    height: 50px;
    width: 115px;
    cursor: pointer;
    box-sizing: border-box;
    border:transparent;
    border-radius: 60px;
    font-size: 18px;
    color:var(--main-white);
    letter-spacing: 0.2em;
    background-color: var(--text-green);
    outline: none;
    text-transform: uppercase;
}

.product-price-btn button:hover {
    background-color: #009673c4;
}

@media only screen and (max-width: 600px) {
    .shopping-cart {
        width:260px;
    }
}